
# compiled results
wasm/*
commonConstants.h
building/exports.json
commonConstants.h
# also in src is engine/qe*.js, see that gitignore


# cppu test objects, now in testing
#cppuTestBin
#cppuTestBin.dSYM

# abacus lab - still under dev
schrodinger/abacusLab
schrodinger/abacusLab.dSYM

# the old, pre cppu test objects
#quantumTest.js
#quantumTest.wasm

