
# compiled results
wasm
commonConstants.h

# cppu test objects, now in wasm?
#cppuTestBin
#cppuTestBin.dSYM

# abacus lab
schrodinger/abacusLab
schrodinger/abacusLab.dSYM

# the old, pre cppu test objects
#quantumTest.js
#quantumTest.wasm

